html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #222;
}
 
header {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
 
.logo h1 {
    font-size: 28px;
    font-weight: bold;
}
 
.logo span {
    color: red;
}
 
.social-icons img {
    width: 24px;
    margin-left: 10px;
}
 
.banner img {
    width: 100%;
    height: auto;
}
 
.produtos {
    display: flex;
    padding: 30px;
    gap: 20px;
}
 
.categorias ul {
    list-style: none;
    padding: 0;
}
 
.categorias li {
    padding: 10px;
    cursor: pointer;
    color: #bd001f;
}
 
 
.lista-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex: 1;
    margin: 20%;
    margin-left: 10%;
   
   
}
 
.produto {
    padding: 15px;
    text-align: center;
    border-radius: 8px;
   
}
 
.produto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
   
}
 
.produto button {
   
    background: #fff;
    padding: 10px 50px;
    border: 2px solid #d9d9d9;
    cursor: pointer;
    border-radius: 5%;
}
 
.promocao {
    display: flex;
    align-items: center;
    padding: 40px;
    background: #f9f9f9;
 
}
 
.promo-texto {
    flex: 1;
}
 
.promo-texto h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
 
.promo-texto button {
    background: #ddd;
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
}
 
.promo-img img {
    width: 300px;
    height: auto;
}
 
.contato {
    padding: 40px;
    background: #fff;
    text-align: center;
}
 
.contato h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
 
form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
 
form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(50% - 10px);
}
 
form textarea {
    width: 100%;
    height: 100px;
}
 
form button {
    padding: 10px 30px;
    background: #ccc;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
 
.titulo {
    font-weight: bold;
    font: poppins;
}
 
.elemento {
    letter-spacing: 2px; /* Adiciona 2 pixels de espaço entre as letras */
}
 
.texto{
    margin: 5%;
    margin-bottom: 20%;
   
}
 